@font-face {
    font-family: "iconfont"; /* Project id 3863197 */
    /* Color fonts */
    src: 
         url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAIoAAwAAAAABAgAAAHZAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIhgjEgZgADwKgUSBVQE2AiQDDAsKAAQgBYF8ByAbPAPILrBt2KMABSlSwA4DeIFSiAB+f//NwYeY5HW167r/9NJCztsK3ISQNt+Bcy5swM3Vzw6zixwPfLEBP1rI7u9at+R8VcvZ4PupU88DEgzIAwUsQDHci3LRjWO2NiZgBGvFPb2kHaZXvqCBOIuAerQKInYTkRaaPwzKCzkLt5TJ8UkcAmyF84Rj5DBP40Kjr7Zt37bWy+DfinSqOEU65dSWG0TxFQbluklolcSSVtkIylFLnOwVBZFX/Oj6CBZD+f9KlGENjjQehiDHmprm5tv58NU1ovH0yIGGF5/h6isfzeNXEjHUiDVtplNSPFQXOfXp0ysovIGPhtOfP6/wuWce+b/0wH2N4bmEzHkiJnK/+Nf4ZCgV3XCWY6MzbA4PpoqrmYRkzZMjJWhptmdsNkdEjwcXyJE1n5ij32NpSo55ZtCKGDaHKDMgkpLgkWPpoZ3SbsOql96vYc3/ynSF8NvfLxei3aWidC65AcrFCcwdL8yU3NO5G+JgUoaSkcGcugr3HPYNlNsGFnKVoJHMieo5A0GyTD/IBu0BZbotnSs36IaTelaWhsF7e1kDIwdzHVuiKTMmXm2blGsPsA2fxfKeXVgkumhga2cySW4w1KI2TLcW/G4aAgAA') format('woff2'),
         url('iconfont.woff?t=1673604359219') format('woff'),
         url('iconfont.ttf?t=1673604359219') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-yonghu:before {
    content: "\e607";
  }
  
  